.waitlist-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
}

.waitlist-form-label {
  font-size: 36px;
  margin-bottom: 10px;
}

.waitlist-form-input {
  margin-top: 3vh;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #292929;
}

.waitlist-text-input {
  text-align: center;
  flex: 1;
  color: #ffffff;
  height: 28px;
  font-size: 24px;
  line-height: 24px;
  outline-style: none;
  background-color: rgba(217, 217, 217, 0);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
}


.waitlist-form-button {
  justify-content: center;
  text-align: center;
  font-size: 26px;
  border-radius: 15px;
  color: rgb(12, 16, 12);
  font-weight: 500;
  font-family: Poppins;
  cursor: pointer;
  display: flex;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #4FD74F;
}

@media (max-width: 991px) {
  .waitlist-form {
    padding: 20px;
  }

  .waitlist-form-label {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .waitlist-form-input {
    padding: 10px;
    margin-bottom: 20px;
  }

  .waitlist-form-button {
    font-size: 24px;
    padding: 10px 20px;
  }
}

@media (max-width: 767px) {
  .waitlist-form {
    padding: 20px;
  }

  .waitlist-form-label {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .waitlist-form-input {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .waitlist-text-input {
    font-size: 18px;
  }

  .waitlist-form-button {
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 20px;
  }
}

@media (max-width: 479px) {

  .waitlist-form-label {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .waitlist-form-input {
    padding: 5px;
    margin-bottom: 10px;
  }

  .waitlist-text-input {
    font-size: 16px;
  }

  .waitlist-form-button {
    font-size: 18px;
    padding: 5px 10px;
  }
}